:root {
    --electric-purple: #A259FF;
    --purple:#5c2f97;
    --vivid-blue: #3B9CFF;
    --bright-lime-green: #9DFF4C;
    --colombian-yellow: #FFD200;
    --charcoal-gray: #1C1C1C;
    --charcoal-gray-light: #4c4c4c;
    --white: #FFFFFF;
  }