/* App.css o styles.css */
body {
  background-color: var(--charcoal-gray) !important;
}

/* Estilo para navbar con degradado */
nav {
  background: linear-gradient(to bottom, var(--purple), var(--charcoal-gray));
}

h3{
  color: var(--white);
}
.navbar-brand {
  font-family: 'Sedgwick Ave Display', cursive;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: var(--white) !important; /* o el que prefieras */
}
.nav-item {
  font-weight: 600;
  font-size: large;
}

.nav-item:hover {
  font-weight: 800;
}

@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 100px;  /* Ajusta el tamaño máximo del logo */
    height: auto;  /* Mantiene la proporción del logo */
  }
}
h1{
  color: var(--white) !important;
}
p{
  color: var(--white) !important;
}
.card {
  background-color: var(--white) !important;
  border-radius: 12px;
  margin: 2rem auto;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
  text-align: center;
}
.cta-button {
  margin-top: 2.5rem;
  background-color: var(--electric-purple);
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  font-weight: 900;
  background-color: var(--purple);
}
.btn-primary{
  background-color: var(--electrical-purple);
}
.btn-primary:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.card {
  animation: fadeIn 0.8s ease-in;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}




.separated{
  height: 2px;
  width: 100%;
  background-color: black;
}
.App {
  text-align: center;
}

.upload-box, .result-box {
  background: #5c2f9750;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.upload-placeholder {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.img-preview {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.btn-create {
  background-color: var(--electric-purple);         /* Morado */
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-create:hover {
  background-color: var(--purple);
  font-weight: 700;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
